@import general/reset
@import general/fixes
@import general/mixins
@import general/kerning
@import general/const
@import const

// =========================
// Common

body
  font-family: $yugothic
  color: #111
  font-size: 13px
  line-height: 1em
  position: relative

// for responsive
.pc
  display: inline-block !important
.sp
  display: none !important

.red
  path
    fill: red

@media (max-width: 1000px)
  .pc
    display: none !important
  .sp
    display: inherit !important