---
title: TODO
description: TODO
body_class: 'index ja'
styles:
  - common
scripts:
  -
    production: lib/TODO_dummy.min
    development: lib/TODO_dummy
  - common
---

h1 ポラーノの広場

p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモーリオ市、郊外のぎらぎらひかる草の波。

=inline_svg 'svg-test.svg', data: {bar: 'baz'}
br
=inline_svg 'svg-test.svg', class: 'red'